body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.landingPageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 10px;
    height: 84vh;
}

.buttonSurprise{
    background-color: #94C9A9;
    color:#354739
}

.planSectionCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    margin-bottom: 10px;
    width: 100%;
    background-color: #94C9A9;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.planSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPlanSectionCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    width: 100%;
    background-color:#354739;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.noPlanSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tentIcon{
    max-width: 160px;
    margin-bottom: 30px;
}
.thinkingIcon{
    max-width: 160px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .landingPageContent{
        flex-direction: row;
        height: 100vh;
    }

    .planSectionCard{
        flex: 50;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .noPlanSectionCard{
        flex: 50;
    }

    .buttonSurprise{
        background-color: #94C9A9;
    }
    .tentIcon{
        max-width: 200px;
        margin-bottom: 30px;
    }
    .thinkingIcon{
        max-width: 200px;
        margin-bottom: 30px;
    }

}

@media only screen and (min-width: 1024px){
    .landingPageContent{
        display:flex;
    }
    .planSection{
        width: 50%;
        height: 100vh;
        margin-right: 20px;
        border-radius: 5px;
    }
    .noPlanSection{
        width: 50%;
        height: 100vh;
        border-radius: 5px;
    }
    .buttonSurprise{
        background-color: #94C9A9;
    }
    .tentIcon{
        max-width: 300px;
        margin-bottom: 30px;
    }
    .thinkingIcon{
        max-width: 300px;
        margin-bottom: 30px;
    }
    .buttonSurprise:hover{
        background-color: #77a388;
    }

}