/* button{
    font-family: 'Poppins', sans-serif;
    height: 40px; 
    this was making the text 
    on the buttons on the landing page 
    not centered vertically since button 
    styling already exists on styles.css
} */
body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.landingPageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: 88vh;
}

.buttonSurprise{
    background-color: #94C9A9;
    color:rgb(56, 40, 40);
}

.planSectionCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    margin-bottom: 10px;
    width: 100%;
    background-color: #94C9A9;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.planSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noPlanSectionCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50;
    width: 100%;
    background-color:#354739;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.noPlanSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tentIcon{
    max-width: 200px;
    margin-bottom: 30px;
}
.thinkingIcon{
    max-width: 200px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
    .landingPageContent{
        flex-direction: row;
        /* justify-content: space-around; */
        /* align-items: baseline; */
        /* margin: 10px; */
        height: 100vh;
    }

    .planSectionCard{
        flex: 50;
        margin-bottom: 0px;
        margin-right: 10px;
        /* height: 100vh; */
    }

    .noPlanSectionCard{
        flex: 50;
        /* height: 100vh; */
    }

    .buttonSurprise{
        background-color: #94C9A9;
    }
    .tentIcon{
        max-width: 200px;
        margin-bottom: 30px;
    }
    .thinkingIcon{
        max-width: 200px;
        margin-bottom: 30px;
    }

}

@media only screen and (min-width: 1024px){
    .landingPageContent{
        display:flex;
    }
    .planSection{
        width: 50%;
        height: 100vh;
        margin-right: 20px;
        border-radius: 5px;
    }
    .noPlanSection{
        width: 50%;
        height: 100vh;
        border-radius: 5px;
    }
    .buttonSurprise{
        background-color: #94C9A9;
    }
    .tentIcon{
        max-width: 300px;
        margin-bottom: 30px;
    }
    .thinkingIcon{
        max-width: 300px;
        margin-bottom: 30px;
    }

}