<h2 class="tripList">My Trip List</h2>
<div class="favoriteList" *ngFor="let park of favoriteList, let i =index;">
    <div class="tripListContainer" >
            <img class="parkFavoriteImg" src="{{park.images[0].url}}">
        <a routerLink='/park-detail/{{park.parkCode}}'><h3>{{park.fullName}}</h3></a>
        <button class="favoriteItem" (click)="toggleFavorite(park)"><fa-icon [icon]="faTree" [ngClass]="park.isFavorite? 'favColorChange' : 'favColorSolid'"></fa-icon></button>
    </div>
</div>