<nav class="navigationContent">
        <div class="leftLogoArea">
            <a class="logo"routerLink='/' routerLinkActive='active'><img class="logo" src="./assets/logo.png"></a>
            
        </div>
        <div class="searchTree">
            <div class="treeIcon"[routerLink]="'/my-trip-list/'"><fa-icon [icon]="faTree" ></fa-icon></div>
            <div class="search"><app-search (search)="keywordSearch($event)"></app-search></div>
        </div>
        
</nav>


<router-outlet></router-outlet>