<h3 *ngIf="stateName"> Parks in {{stateName}} </h3>
<div class="parkList">
  <ul class="parkListItem" *ngFor="let parks of park; let i = index">
    <!-- <a routerLink='/park-detail/{{parks.data[i].parkscode}}'><h3>{{parks.data[i].fullName}}</h3></a> -->
    <li>
      <img
        *ngIf="parks.images[0].url"
        class="parkImage"
        loading="lazy"
        src="{{ parks.images[0].url }}"
        onerror="this.src='/assets/mountain-view.png';"
      />
    </li>
    <button class="favoriteItem" (click)="toggleFavorite(parks)"><fa-icon [icon]="faTree" [ngClass]="parks.isFavorite? 'favColorChange' : 'favColorSolid'"></fa-icon></button>
    <li>{{ parks.fullName }}</li>
    </ul>
</div>
