*{
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4 {
    max-width: 400px;
}

a {
    text-decoration: none;
    color: #cc9a4b;
}

button {
    padding: 12px;
    background-color: #354739;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    width: 200px;
}

.treeIcon{
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
}

.logoPlaceholder{
    color: black;
}

.favoriteItem {
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

.favColorSolid {
    color: gray;
}

.favColorChange {
    color: #354739;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #CC9C4E;
    position: -webkit-sticky; 
    position: sticky;
    top: 0px;
}

.leftLogoArea{
    margin-left: 20px;
}


@media only screen and (min-width: 768px) {
    p, h1, h2, h3, h4 {
        max-width: 800px;
    }

    nav{
        display: flex;
        
    }

}

@media only screen and (min-width: 1024px){
    nav{
        display: flex;
        
    }

}