*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
}

p{
    color:rgb(57, 57, 57);
}

li{
    color:rgb(57, 57, 57);
}

a {
    text-decoration: none;
    color: #cc9a4b;
}

button {
    padding: 12px;
    background-color: #354739;
    color: #cc9a4b;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    width: 200px;
}

.favoriteItem {
    width: auto;
    border: none;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
}

.favColorSolid {
    color: #c4c4c4;
}

.favColorChange {
    color: #1c761c;
}
/* 
.searchTree{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
} */

/* .navItems{
    display: flex;
    flex-direction: row;
} */

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1024px){

    button:hover{
        background-color: #202b22;
    }

}