<div class="parkDetail">
    <ng-container *ngIf="park.data.length">
    <div class="parkDetailItem" *ngFor="let parks of park.data, let i =index;">
        <button class="favoriteItem" (click)="toggleFavorite(parks)"><fa-icon [icon]="faTree" [ngClass]="parks.isFavorite? 'favColorChange' : 'favColorSolid'"></fa-icon></button>
        <h2 class="parkDetailName">{{parks.fullName}}</h2>
        <h3 class ="parkDetailAddress">{{parks.addresses[0].city}}, {{parks.addresses[0].stateCode}}</h3>
        <span class = "parkDetailDesignation">{{parks.designation}}</span>
        <img class="parkDetailImg" src="{{parks.images[0].url}}">
        <h3 *ngIf="parks.description">Description</h3>
        <p class="parkDetailDescription">{{parks.description}}</p>
        <h3 *ngIf="parks.activities.length">Activities</h3>
        <ul class="parkDetailActivities">
            <li *ngFor="let activity of parks.activities | slice:0:30; let i =index;">{{parks.activities[i].name}}</li>
        </ul>
        <h3 *ngIf="parks.operatingHours[i].standardHours">Hours</h3>
        <ul class="parkDetailHours">
            <li *ngIf="parks.operatingHours[i].standardHours.monday"><strong>Monday:</strong> {{parks.operatingHours[i].standardHours.monday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.tuesday"><strong>Tuesday:</strong> {{parks.operatingHours[i].standardHours.tuesday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.wednesday"><strong>Wednesday:</strong> {{parks.operatingHours[i].standardHours.wednesday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.thursday"><strong>Thursday:</strong> {{parks.operatingHours[i].standardHours.thursday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.friday"><strong>Friday:</strong> {{parks.operatingHours[i].standardHours.friday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.saturday"><strong>Saturday:</strong> {{parks.operatingHours[i].standardHours.saturday}}</li>
            <li *ngIf="parks.operatingHours[i].standardHours.sunday"><strong>Sunday:</strong> {{parks.operatingHours[i].standardHours.sunday}}</li>
        </ul>
            <span *ngFor="let webcam of webcam.data">
                <a *ngIf="webcam.url.includes('/air')" href='{{webcam.url}}'><button class="parkDetailWebcam">View Live Webcam</button></a>
            </span>
        <p class="parkDetailNPS">Visit <a href="{{parks.url}}">National Park Service</a> for more park details.</p>    
        </div>
</ng-container>
</div>