body {
    margin: 20px;
}

.parkDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    margin: 20px;
}

h2 {
    margin-bottom: 6px;
}

h3 {
    line-height: 24px;
    margin: 0px;
    max-width: 90%;
    font-weight: 500;
    align-self: center;
}

.parkDetailDesignation {
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
    background: #cc9a4b;
    color: white;
    font-size: 14px;
    width: fit-content;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
} 

.parkDetailItem {
    width: 100%;
}

img.parkDetailImg {
    width: 100%;
    object-fit: cover;
    max-height: 370px;
    border-radius: 10px;
}

ul.parkDetailActivities, ul.parkDetailHours {
    list-style: none;
}

ul.parkDetailActivities {
    column-count: 2;
    column-gap: 60px;
}

li {
    margin-left: -40px;
}

.favoriteItem {
    display: inline;
    float: right;
    padding: 0;
}

button.parkDetailWebcam {
    margin-right: 12px;
    margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {     
    img.parkDetailImg {
        max-height: 470px;
    }

    h3 {
        max-width: 100%;
    }

    ul.parkDetailActivities {
        column-count: 3;
        column-gap: 40px;
        max-width: 800px;
    }
}

@media only screen and (min-width: 1024px) {   
    img.parkDetailImg {
        max-height: 470px;
    }

    .favoriteItem {
        padding: 0;
        position: absolute;
        left: 77%;
    }

    p {
        max-width: 80%;
    }

}