body {
    margin: 20px;
}

.parkDetail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.parkDetailNameLocation{
    margin-bottom: 40px;
}

.parkDetailIcons {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

h2.parkDetailName {
    margin-top: -2px;
    margin-bottom: 6px;
}

h3 {
    line-height: 24px;
    margin: 0px;
    max-width: 90%;
    font-weight: 500;
    align-self: center;
}

h4{
    margin-bottom: -3px;
}

p, ul{
    margin-bottom: 40px;
}

.parkDetailDesignation {
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
    background: #cc9a4b;
    color: white;
    font-size: 14px;
    width: fit-content;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
} 

/* .parkDetailItem {
    width: 100vw;
} */

.imageContainer{
    max-width: 100vw;
    overflow: hidden;
    max-height: 680px;
}

img.parkDetailImg {
    width: 100%;
    object-fit: contain;
    object-position: center -180px;
    /* width: 100vw; */
    /* object-fit: cover; */
    /* max-height: 370px; */
    /* border-radius: 10px; */
}

.parkDetailContents{
    margin: 0px 20px;
}

ul.parkDetailActivities, ul.parkDetailHours {
    list-style: none;
}

ul.parkDetailActivities {
    column-count: 2;
    column-gap: 60px;
}

li {
    margin-left: -40px;
}

button.favoriteItem {
    background-color: transparent;
}

button.parkDetailWebcam {
    margin-top: 12px;
    margin-right: 12px;
}

@media only screen and (min-width: 768px) {     
    /* .parkDetail {
        margin: 20px 10% 20px 10%;
    } */
    
    /* img.parkDetailImg {
        max-height: 470px;
    } */

    h3 {
        max-width: 100%;
    }

    ul.parkDetailActivities {
        column-count: 3;
        column-gap: 40px;
        max-width: 800px;
    }
}

@media only screen and (min-width: 1024px) {   
    /* display left & right */
    /* .parkDetailTop{
        display: flex;
        flex-direction: row;
    }

    .parkDetailRight{
        margin-left: 20px;
    }

    .parkDetail {
        margin: 20px 10% 20px 10%;
    }
    
    img.parkDetailImg {
        max-width: 40vw;
        max-height: 470px;
    } */

    .parkDetailContents{
        margin: 20px 10% 50px 10%;
    }

}